/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

.container {
    width: 90%;
    min-height: 10rem;
    margin: 0 auto;
}

img {
    width: 100%;
}


/*            BUTTON          */

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.white-violet_button {
    background-color: white;
    color:#9593E6;
    border-radius: 30px;
    padding: 5px 10px;
}

.blue-white_button {
    background-color: #0084FD;
    color: white;
    border-radius: 30px;
    text-align: center;
    padding: 5px 20px;
}

.violet-black_button {
    background-color: #9593E6;
    color: black;
    padding: 20px;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 10px;
}

.violet-white_button {
    background-color: #9593E6;
    color: white;
    padding: 5px 30px;
    border-radius: 20px;
    letter-spacing: 3px;
}

.white-black_button {
    background-color: white;
    color: black;
    border-radius: 20px;
}

.white_a {
    color: white;
}


/*        FONT DETAILS         */


h1 {
    font-size: 50px;
    color: #FDC15F;
}

h1, h2, h3, h4, h5, h6 {
    letter-spacing: 1.2px;
}

.no-decoration_a {
    text-decoration: none;
}


/*           HEADER           */


header {
    background-color: #0084FD;
    position: sticky;
    top: 0;
}

header .container {
    min-height: 3em;
    padding: 5px 0;
}

header .container nav {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}

.header.header-right .header-link  {
    display: none;
}

.header-right .hamburger {
        color: white;
    }

.header-right a {
    margin: 0 10px;
}


/* MAIN */

.main-section {
    width: 100%;
}

/* SECTION 1 */

.container.section_1 {
    min-height: 30rem;
}

.container.section_1 h3 {
    color: #0084FD;
}

.my-row {
    width: 100%;
    min-height: 30rem;
    display: flex;
    flex-wrap: wrap ;
    justify-content: center;
    margin: 0 -10px;
}

.my-col {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.my-cards-big, .my-cards {
    width: 100%;
    border-radius: 20px;
    background-color: #B5DDFF;
    display: flex;
    flex-direction: column;
    padding: 20px 20px 0px 20px;
}

.my-cards {
    padding: 20px;
}

.my-cards-text, .my-cards-big-text {
    display: flex;
    flex-direction: column;
}

.my-cards-text {
    color: #0084FD;
    align-items: center;
    text-align: center;
}

.my-cards-big-text {
    align-items: flex-start;
}

.main-section.section_1 .my-cards-big-text a {
    display: flex;
    align-items: baseline;
}

.main-section.section_1 .my-cards-big-text i {
    font-size: 25px;
    padding-right: 10px;
}

.my-col ,.my-col-1 .my-cards-text p, .my-col-2 .my-cards-text p,
.my-col-3 .my-cards-text p, .my-col-4 .my-cards-text p,
.my-col-5 .my-cards-text p {
    color: #4F6170;
    line-height: 1.4;
    padding: 10px;
}

.main-section.section_1 i {
    font-size: 40px;
}

.my-cards-text > * , .my-cards-big-text > * {
    margin: 8px 0;
}

.my-cards-big-img {
    margin: 0 auto;
    width: 100%;
    display: flex;
}

/* SECTION 2 */

.main-section.section_2 , .main-section.section_2 .my-cards-big  {
    background-color: #9593E6;
    color: white
}

.main-section.section_2 .my-cards {
    background-color: white;
}

.main-section.section_2 .my-cards-text {
    color: black;
}

.main-section.section_2 .my-cards-text a i {
    font-size: 20px;
}



/*  SECTION 3  */

.main-section.section_3, .main-section.section_3 .my-cards-big {
    background-color: white;
}

.main-section.section_3 .my-col-1 .my-cards-big-text {
    align-items: center;
    text-align: center;
    color: black;
}

.main-section.section_3 .my-col-2 .my-cards-text ,
.main-section.section_3 .my-col-2 .my-cards-text p {
    color: white;
}

.main-section.section_3 .my-cards-big-text h3 {
    color: #9593E6;
}

.main-section.section_3 .my-cards {
    background-color: #9593E6;
    width: 100%;
    margin: 20px 0;
}

.main-section.section_3 .my-col-2 .my-cards-big-img {
    width: 150px;
    height: 150px;
    margin: 20px 0;
}

.main-section.section_3 .my-col-2 .my-cards-big-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.main-section.section_3 .my-cards-text i {
    font-size: medium;
}

.testimonial-name {
    font-weight: 900;
    font-size: larger;
}

/* SECTION 4 */

.main-section.section_4 {
    background-color:#9593E6;
}

.main-section.section_4 .my-col-1 {
    width: 70%;
    display: flex;
    justify-content: center;
}

.main-section.section_4 .my-cards-big{
    background-color: rgba(0, 0, 0, 0);
    padding: 0;
    text-align: center;
    color: white;
    width: 80%;
}

.main-section.section_4 .my-cards-big-text {
    margin: 0;
}

.main-section.section_4 .my-col-2 .my-cards {
    background-color: white;
    margin: 20px 0;
}

.main-section.section_4 .my-col-2 .my-cards .my-cards-text,
.main-section.section_4 .my-col-2 .my-cards .my-cards-text p {
    align-items: flex-start;
    text-align: left;
    color:#9593E6;
}

.main-section.section_4 .my-col-2 .my-cards .my-cards-text p {
    color: #4F6170;
}

.n-benefit {
    font-size: 40px;
    font-weight: 900;
}

/* SECTION 5 */

.main-section.section_5,
 .main-section.section_5 .my-cards-big,
 .main-section.section_5 .my-cards-big-text,
 .main-section.section_5 .my-cards {
    background-color: white;
}

.main-section.section_5 .my-cards-big-text {
    color: black;
}

.main-section.section_5 .my-cards-big-text h2,
.main-section.section_5 .my-cards-text h3 {
    color: #9593E6;
}

.main-section.section_5 .my-cards-text {
    align-items: flex-start;
    text-align: left;
}

.main-section.section_5 .my-col-2 .my-cards-big-img {
    width: 200px;
    height: 200px;
    margin: 20px 0;
    border-radius: 50%;
}

.main-section.section_5 .my-col-2 .my-cards-big-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.main-section.section_5 .my-cards-text .my-cards-big-img i {
    font-size: 50px;
    color: #9593E6;
}

.main-section.section_5 .my-cards-text a > i {
    font-size: large;
    padding: 0 10px;
}

.main-section.section_5 .my-col-2 a {
    letter-spacing: normal;
    display: flex;
    align-items: center;
}

/* SECTION 6 */

.main-section.section_6 , 
.main-section.section_6 .my-cards-big,
.main-section.section_6 .my-cards-big-text {
    background-color: #9593E6;
    color: white;
    text-align: center;
    align-items: center;
}

.main-section.section_6 .my-cards-big-text .privacy {
    font-size: small;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-section.section_6 .my-cards-big-text .privacy i {
    background-color: white;
    border-radius: 50%;
    font-size: 5px;
    margin: 0 10px;
}

.main-section.section_6 .my-cards-big-text .privacy a {
    color: white;
}

/* FOOTER */

footer {
    background-color: #333333;
    text-align: center;
    color: white;
    padding: 20px;
}

footer  * {
    padding: 10px 20px;
}

footer a {
    padding: 5px;
    color: #9593E6;
}

/* INTERAZIONI */

a:hover {
    background-color:rgba(51, 51, 51, 0.479);
    transform: scale(1.2);
    transition: 0.5s;
}

/* RESPONSIVE */

@media screen and (min-width:480px) {

/* HEADER TABLET */

    /* SECTION 1 TABLET */
    .main-section {
        padding: 50px 0;
    }
   .main-section.section_1 .my-row {
        display: flex;
        justify-content: left;
    }

    .main-section.section_1 .my-col {
        width: calc((100%/3));
        padding: 10px;
    }

    .main-section.section_1 .my-col-1 {
        width: calc((100%/3) * 2);
    }

    .main-section.section_1 .my-col-1 .my-cards-big {
        justify-content: space-between;
    }

    .main-section.section_1 .my-col-1 .my-cards-big-img img {
        width: 80%;
    }

    .main-section.section_1 .my-col-2 .my-cards {
        padding-bottom: 0px;
    }

    /* SECTION 2 TABLET */


    .main-section.section_2 h3 {
        font-size: 40px;
    }

    /* SECTION 3 TABLET */

    .main-section.section_3 .my-cards-text {
        display: flex;
        flex-direction: row;
    }

    .main-section.section_3 .my-col-2 .my-cards-big-img img {
        width: 100%;
        height: 100%
    }

    .main-section.section_3 .my-col-2 .my-cards-big-img  {
        width: 100px;
        height: 100px;
        align-items: center;
        border-radius: 50% ;
        margin-right: 50px;
        flex-shrink: 0;
    }

    .main-section.section_3 .testimonial {
        width: 80%;
    }

    .main-section.section_3 .my-cards-text {
        text-align: left;
    }

    /* SECTION 4 TABLET */

    .main-section.section_4 h3 {
        font-size: 1rem;
        height: 30px;
    }

    .main-section.section_4 .my-row {
        display: flex;
        justify-content: center;
    }

    .main-section.section_4 .my-col-2 {
        width: calc((100% / 2));
        padding: 5px 5px;
    }

    .main-section.section_4 .my-col-2,
    .main-section.section_4 .my-cards-text, 
    .main-section.section_4 .my-cards-big-text,
    .main-section.section_4 .n-benefit {
        margin: 0;
    }

    /* SECTION 5 */

    .main-section.section_5 .my-col {
        width: 50%;
    }

    .main-section.section_5 .my-cards-text{
        align-items: center;
        text-align: left;
        line-height: 1.3;
    }

    .main-section.section_5 .my-col-2 .my-cards-big-img {
        width: 150px;
        height: 150px;
    }


}

@media screen and (min-width:768px) {

    .container {
        width: 60%;
    }

    /* HEADER DESKTOP  */

    .header.header-left a {
        width: 80px;
    }

    .header-right .hamburger {
        display: none;
    }

    .header.header-right .header-link  {
        display: block;
        padding: 0px 10px;
    }

    /* SECTION 1 */

        /* SECTION 1 DESKTOP */

        .main-section {
            padding: 50px 0;
        }
       .main-section.section_1 .my-row {
            display: flex;
            justify-content: left;
        }
    
        .main-section.section_1 .my-col {
            width: calc((100%/3));
            padding: 10px;
        }
    
        .main-section.section_1 .my-col-1 {
            width: calc((100%/3) * 2);
        }
    
        .main-section.section_1 .my-col-1 .my-cards-big {
            flex-direction: row;
        }

        .main-section.section_1 .my-col-1 .my-cards-big-text {
            width: 50%;
        }

        .main-section.section_1 .my-col-1 .my-cards-big-img {
            width: 50%;
            height: 100%;
            display: flex;
            align-items: flex-end;
        }
    
        .main-section.section_1 .my-col-1 .my-cards-big-img img {
            width: 80%;
        }

        .main-section.section_2 .my-col-1{
            width: 50%;
            display: flex;
            justify-content: flex-start;
        }

        .main-section.section_2 .my-col-2{
            width: 40%;
            display: flex;
            justify-content: flex-end;

        }

        .main-section.section_2 .my-col-2 .my-cards-big-img {
            width: 50%;
        }

        .main-section.section_2 .my-row {
            display: flex;
            align-items: end;
        }

        .main-section.section_2 .my-col-2 p {
            margin: 0;
        }


        /* SECTION 4 */

        .main-section.section_4 .my-col-2 {
            width: calc((100% / 3));
            padding: 5px 5px;
        }
}