/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* GENERAL */

html {
    font-family: 'Noto Sans', sans-serif;
}

body {
    background-color: white;
}

.container {
    width: 90%;
    min-height: 10rem;
    margin: 0 auto;
    border: 2px dashed red;
}

.debug a {
    min-width: 50px;
    height: 20px;
    text-decoration: none;
}

img {
    width: 100%;
}
/* HEADER */

header {
    background-color: rgb(72, 145, 248);
}

.debug header .container * {
    border: 1px solid orange;
}

header .container {
    min-height: 3em;
    padding: 5px 0;
    display: flex;
    justify-content: space-between;
}

.debug header .container nav {
    display: flex;
    align-items: center;
}

.header.header-left {
    justify-content: flex-start;
}

.header.header-right {
    justify-content: flex-end;
}

h2, h3 {
    margin: 20px 0;
}

.white-violet_button {
    background-color: white;
    color: #9593E6;
}

.violet-white_button {
    background-color: #9593E6;
    color: white;
}

/* MAIN */

/* SEZIONE 1 */

.main-section {
    width: 100%;
}

.container.section_1 {
    min-height: 30rem;
    background-color: white;
}

.my-row {
    width: 100%;
    min-height: 50rem;
    border: red solid 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.my-cards {
    min-height: 20rem;
    width: 100%;
    border: 2px solid rgb(185, 161, 161);
    border-radius: 15px;
    margin: 10px 0;
    padding: 1rem ;
    background-color: rgb(98, 129, 68);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.my-cards-big {
    justify-content: space-between;
    padding-bottom: 0;
}

.my-cards * {
    margin-top: 20px;
}

.my-cards-big img {
    margin: 0 auto;
    width: 60%;
    display: flex;
}

/* SEZIONE 2 */

.main-section.section_2 , .main-section.section_4 {
    background-color: #9593E6;
    color: white;
}

.container.section_2 {
    padding: 20px 0;
}

.top-section {
    margin: 20px 0;
}

.bottom-section {
    border-radius: 50px;
    padding: 20px 20px;
    margin: 20px 0;
}

.top-section * {
    margin-top: 30px;
}

.bottom-section * {
    margin: 10px 0 ;
}

.bottom-section.bottom-section_2{
    margin-top: 30px;
    background-color: white;
    color: black;
}

.white-violet_button {
    background-color: white;
    color: #9593E6;
}

.z

/* SEZIONE 3 */

.main-section.section_3 {
    background-color: white;
}

.main-section.section_3 h2 {
    color: #9593E6;
}

.top-section.top-section_3 {
    text-align: center;
}

.bottom-section.bottom-section_testimonial{
    background-color: #9593E6;
    color: white;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.testimonial img{
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 50%;
}

/* QUARTA SEZIONE */

.main-section.section_4 h2{
    text-align: center;
}

.bottom-section_benefits {
    background-color: white;
    color: #9593E6;
    flex-direction: column;
}

.container.section_4 {
    display: flex;
    flex-direction: column;
}

.bottom-section_benefits {
    display: flex;
    align-items: flex-start;
}

.bottom-section_benefits a {
    color: white;
    border-radius: 25px;
    min-width: 50px;
}

.n-benefit {
    font-size: 40px;
}

.bottom-section.bottom-section_benefits a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
}
/* FOOTER */

/* RESPONSIVE */